* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
}

header figure {
  position: relative;
}

header figure img {
  max-width: 100%;
  height: auto;
}

#VG {
  position: absolute;
  bottom: 0;
  left: 0;
}

header .mask1 {
  position: absolute;
}

.mainHeadingPara {
  font-family: "Schibsted Grotesk", sans-serif;
  position: absolute;
  top: 60px;
  right: 0;
  font-size: 1.25rem;
  width: 75%;
  color: white;
  text-align: right;
  line-height: 33px;
  padding: 0 6px;
}

.mainHeadingPara p {
  color: #fbd784;
  font-size: smaller;
}

main {
  background-color: #354147;
  color: white;
}

.main-container .sub-container-1 {
  position: relative;
}

.main-container .sub-container-2 {
  display: flex;
  align-items: center;
}

.main-container .sub-container-2 #vertical {
  writing-mode: vertical-lr;
  font-size: 35px;
  margin: 8%;
  color: #fbd784;
  font-family: "Duru Sans", sans-serif;
  text-decoration: underline;
}

.main-container .sub-container-2 img {
  width: 60%;
  max-width: 350px;
  height: 75%;
  object-fit: cover;
  /* border-radius: 33px; */
  margin-top: 22px;
  margin-left: 22px;
  margin-bottom: 22px;
  /* outline: 3px solid white; */
  /* outline-offset: 5px; */
}

.main-container .sub-container-1 h2 {
  font-family: "Schibsted Grotesk", sans-serif;
  margin-bottom: 22px;
}

.main-container .sub-container-1 #get-started {
  color: #fbd784;
  font-family: "Duru Sans", sans-serif;
  margin-bottom: 8px;
  margin-left: 50px;
}

.main-container .sub-container-1 .para {
  /* border: 2px solid white; */
  padding: 5px 10px;
  width: 90%;
  margin: 0 auto;
  /* outline: 3px solid white; */
  /* outline-offset: 5px; */
  margin-bottom: 22px;
  font-size: 18px;
}

.reverse {
  flex-direction: row-reverse;
  margin-right: 22px;
}

.main-container .sub-container-1 div.zero-1 {
  position: absolute;
  top: -54px;
  left: 0;
  color: #ffffff;
  font-size: 150px;
  opacity: 20%;
  font-weight: 900;
}

/*Media Queries*/
@media only screen and (min-width: 754px) {
  header .mainHeadingPara h1 {
    font-size: 88px;
    line-height: 100px;
    font-weight: 600;
  }
  header .mainHeadingPara #first-para {
    font-size: 18px;
    line-height: 22.05px;
    font-weight: 800;
    letter-spacing: 8px;
    margin-top: 32px;
  }
  main {
    background-color: #354147;
  }
  main .main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  main .main-container .sub-container-2 img {
    width: 75%;
    min-width: 100px;
    object-fit: cover;
    border-radius: 0;
    outline: none;
  }
  main .main-container .sub-container-1 {
    width: 75%;
    min-width: 250px;
  }
  main .main-container .sub-container-1 .para {
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
    width: 75%;
    min-width: 250px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
  }
  main .main-container .sub-container-1 h2 {
    font-size: 54px;
    line-height: 76.8px;
    font-weight: 600;
  }
  main .main-container .sub-container-1 #get-started {
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
  }
  main .main-container .sub-container-1 .zero-1 {
    font-weight: 700;
    font-size: 200px;
    line-height: 240px;
    opacity: 20%;
    top: -115px;
  }
}
